<% provide(:title, "About Us") %>
	<nav>
		<ul>
			<li><a href="Home.html">Home</a></li>
			<li><a href="AboutUs.html">About Us</a></li>
			<li><a href="Programmes.html">Programmes</a></li>
			<li><a href="Timetable.html">Timetable</a></li>
			<li><a href="Facilities.html">Facilities</a></li>
			<li><a href="Instructors.html">Instructors</a></li>
			<li><a href="Contact.html">Contact</a></li>
			<li class="dropdown">Further Info
				<ul class="dropdown-content">
					<div class="container">
						<li><a href="FAQs.html">FAQ's</a></li><br>
					</div>	
					<div class="container">
						<li><a href="GymRules.html">Gym Rules</a></li>
					</div>
					<div class="container">
						<li><a href="Memberships.html">Memberships</a></li>
					</div>	
					<div class="container">
						<li><a href="Testimonials.html">Testimonials</a></li><br>
					</div>	
					<div class="container">
						<li><a href="UsefulLinks.html">Useful Links</a></li>
					</div>
				</ul>
			</li>
		</ul>
	</nav>
	<main>
	<section>
		<h1>About Us</h1>
	</section>
	<article>
			<p>Team Impact was founded in 2006 in an old bike shed in Ennis, Co. Clare, Ireland by its current head
			coach <a href="Instructors.html#Rich_Jones">Rich Jones</a>. Rich has been a lifelong martial artist and has travelled all over the world studying
			and teaching in numerous disciplines.</p>
			<p>It was during his first trip to Brazil in the late nineties that Rich became aware of <a href="BJJ.html">Brazilian Jiu-Jitsu</a> 
			(or &lsquo;BJJ&rsquo; for short). This newly developed martial art, derived from judo and pioneered by the Gracie Family, demonstrated its superiority 
			over all other martial arts at the time during the first ever <a href="http://uk.ufc.com/" target="_blank">Ultimate Fighting Championship</a> tournament in Brazil in 1993.  At this event, 
			an average-sized man by the name of Royce Gracie was able to apply techniques from this art to defeat men from various other disciplines 
			that were twice his size. Rich had also witnessed the application of BJJ to devastating effect in the newly conceived sport of 
			<a href="MMA.html">Mixed Martial Arts</a> (or &lsquo;MMA&rsquo; for short), a sport which was attracting practitioners of various martial arts styles 
			around the world and pitting them against each other in an effort to determine which practitioner and, therefore, which martial art was the best 
			for fighting. Rich&apos;s mind was opened to a whole new idea of combat. From that point on, he became obsessed with learning everything that he 
			could about BJJ and MMA, and was willing to train with anybody who was willing to teach it.</p> 
			<p>Eventually, through a mutual friend, he became acquainted with Carlson Gracie Junior, whom he has been a student under ever since. Three 
			years and many back-and-forth trips to Brazil later, Rich was awarded his BJJ Blue Belt. During this time, Rich decided that it was his 
			mission to help not just spread knowledge about the sport of MMA and its associated disciplines in his home country of Ireland, but to 
			establish it next to Boxing as part of the national culture, and open peoples&apos; minds to this new idea of combat sport.</p>
			<p>A short time later, Rich returned to his home town of Ennis to settle down permanently. He then made the decision to rent out a dilapidated bike 
			shed, buy a stack of exercise mats, paint a sign on a large sheet of plywood and put an advertisment in the local paper asking people if they wanted 
			to &lsquo;learn how to truly defend yourself in a real fight.&rsquo; Team Impact was born.</p>
			<p>Initially, only a handful of people started training, a few of which would go on to be part of our team of <a href="Instructors.html">
			instructors.</a> A little over ten years later, Team Impact has over 1000 registered members.  We are one of the premier Mixed Martial Arts 
			gyms in the country, and are well established on the European and World stage. We train in a state-of-the-art 70,000 square foot facility. 
			We have several well-established competitors at all levels of MMA, BJJ, Kickboxing, Boxing and Wrestling and regularly attract world-class 
			competitors from all over the world for drop-in sessions and seminars. At the core of this success is the same group of people from all 
			those years ago, with the same growth mindset and passion for martial arts that they had then as they do now.</p>
			<p>If you are interested in being a part of our team, take a look at our <a href="Memberships.html">memberships</a> available or 
			<a href="Contact.html">contact</a> us. We cater to any individual at any level. Whether you&apos;re looking to compete, learn some quality 
			martial arts techniques or simply just get in shape, there is something for everyone here.</p>
		</article>
	</main>
