<% provide(:title, "Contact") %>
	<main>
		<section>
			<h1><%= yield(:title) %></h1>
		</section>
		<section>
			<h2>Address:</h2>
				<p>Team Impact Mixed Martial Arts, Bridge Street, Ennis, Co. Clare. F12 CA27</p>
		</section>
		<section>
			<h2>Phone Number:</h2>
				<p>094 931 2345</p>
		</section>
		<section>
			<h2>Email:</h2>
				<p>info@teamimpactmma.ie</p>
		</section>
		<section>
			<h2>Web:</h2>
				<p>www.teamimpactmma.ie</p>
		</section>
		<section>
			<p>Any specific enquires? Let us know in the form below and we&apos;ll be in touch!</p>
			<h4>* = Mandatory Field</h4><br>
		</section>
		<div class="row">
        	<div class="well" style="background-color: #000000">
            	<h2 style="margin-bottom: 1.5em">Enquiry Form:</h2>
            	<p style="margin-bottom: 1.5em">Any specific enquires? Let us know in the form below and we&apos;ll be in touch!</p>
            	<%= render 'enquiries/enquiry_form', object: @enquiry %>
        	</div>
    	</div>
	</main>