<%= render 'shared/page_heading_section', page_heading: "Frequently Asked Questions", page_heading_quotation_id: nil %>
<main>
	<section>
		<h3>1) Is any previous experience required?</h3>
			<p>No. Our Beginners classes are targeted at complete beginners; no martial arts background of any kind is required.</p>
		<h3>2) Do I need to be fit to join?</h3>
			<p>No. It is natural to worry about not being fit enough to train but it&apos;s really not an issue. All classes are supervised by our team of 
			highly experienced <a href="Instructors.html">instructors</a> to make sure that everybody is suitably challenged. The more you 
			consistently train and learn, the fitter you will naturally get. All beginners get tired during their first classes but you will be 
			surprised at how quickly you can start coming up to speed.</p>
		<h3>3) How do I know which classes are suitable for my experience level?</h3>
			<p>The page for each of our <a href="Programmes.html">programmes</a> on this website contains a table called &lsquo;Experience Requirements.&rsquo; From viewing this, you 
			will be able to judge which classes are appropriate for your level.</p>
		<h3>4) Are there any rules for each class?</h3> 
			<p>Please view our <a href="GymRules.html">Gym Rules</a>, containing general set of rules for each class outlining basic class etiquette.</p>
		<h3>5) What do I need to bring for a class?</h3>
			<p>All of the equipment that you need to bring for any of our programmes is listed on its page in a table 
			called &lsquo;Equipment Requirements.&rsquo;</p> 
		<h3>6) How do I find out the class times?</h3>
			<p>Please view our <a href="Timetable.html">Timetable</a> page.</p>
		<h3>7) How do I sign up?</h3>
			<p>Please visit the <a href="Contact.html">Contact</a> page to find out ways to get in touch with us and register for membership.</p> 
		<h3>8) Do I need to have a membership to attend classes?</h3>
			<p>No. Those who do not wish to commit to registering for a membership can pay for a Class Pass. To find out details, please see our 
			<a href="Memberships.html">Memberships</a> section.</p>
		<h3>9) Can I visit a gym before becoming a member?</h3>
			<p>Of course! You have the option to purchase a Class Pass. Alternatively, you can contact us and we can arrange a time for you to meet 
			briefly with one of our instructors, who can show you around the <a href="Facilities.html">facilities</a> and recommend a program to suit 
			your experience and goals. We also recommend that you take the opportunity to speak to our existing members and find out why Team Impact 
			is their preferred place to train.</p>
		<h3>10) What is included in the membership fee?</h3>
			<p>Our membership fee includes unlimited access to all of our classes (subject to their Entry Requirements) and full use of all of our 
			facilities. <a href="PrivateClasses.html">Private Classes</a> are available at an additional cost.</p>
		<h3>11) How do I pay for my gym membership?</h3>
			<p>Members have the choice of a 6-monthly payment, an annual up-front payment or monthly subscriptions by standing order. Please note that 
			we do NOT accept membership payments in cash.</p>   
		<h3>12) How long is the contract for?</h3>
			<p>Terms vary with each individual contract but are explicitly stated in each one. Please make sure you take the time to read through your 
			contract carefully before signing anything.</p>
		<h3>13) Do I have to give notice to cancel?</h1>
			<p>All members who wish to prematurely terminate their membership must give 2 months written notice and request a cancellation form from the 
			<a href="Facilities.html#Reception_Area">reception area</a>.</p>
		<h3>14) What action can I take if I miss a payment?</h3>
			<p>Consumers should be aware that cancelling a direct debit linked to a minimum membership period, does not cancel any debt that may exist 
			between the gym and the consumer. It is important to note that a signed contract agreement is a legally binding document, meaning that gyms
			may be well within their rights to follow up on missed payments. If you cancel a gym membership and you have been paying by monthly 
			instalments, you should check your bank/credit card statements to ensure that subscriptions have ceased. Please bear in mind that it is 
			YOUR responsibility to check your statements.</p>
		<h3>15) How do I know what I&apos;m signing up for in the membership contract?</h3>
			<p>We have structured our membership contracts to be completely clear and unambiguous with no hidden small print. You do not need legal 
			advice to understand our terms and conditions. That being said, we urge you to take enough time to carefully read the contract through, so 
			that you fully understand what the club expects of you and what you can expect of the club. If you do not understand any of the conditions 
			or you find the meaning of the certain terms unclear, ask questions and get all of the answers to your questions before signing.</p> 
		<h3>16) What if gyms say that they are not liable for injury claims?</h3>
			<p>According to the provisions of the European Communities (Unfair Terms in Consumer Contracts) Regulations 1995, a clause is considered 
			potentially unfair if it states that:</p>
			<p><cite>&lsquo;the supplier is not responsible for death or personal injury to the consumer resulting from an 
			act or omission of that supplier.&rsquo;</cite></p>
			<p>It is advised that you bring this to the attention of the gym owner/manager.</p>
	</section>
</main>
