<% provide(:title, "Gym Rules") %>
<main>
	<section>
		<h1><%= yield(:title) %></h1>
	</section>
	<section>
		<h2>Respect the Facilities</h2>
			<ul>
				<li class="gym_rules">Respect the gym <a href="Facilities.html">facilities</a>. Bear in mind that looking out for the gym facilities helps to keep maintenance bills 
				and membership fees down.</li> 
				<li class="gym_rules">Do NOT misuse the equipment and put it in its correct place when you are finished.</li>
				<li class="gym_rules">Do NOT leave a mess in the gym.  Put your rubbish in the bin. Put any equipment you use back where you found it. 
				Do NOT leave your gear lying around and make sure to check you have all of it when you leave. Use our several cleaning
				stations in the gym to wipe down and disinfect any area or equipment that you have been using.</li>
				<li class="gym_rules">Kids must remain supervised before and after their classes. No youth members are allowed in the Gym/Weights area unattended.</li>
				<li class="gym_rules">Always train with a spotter when performing high risk movements or using specialist equipment such as the weights rig. </li>
				<li class="gym_rules">Any perceived potential health hazards (e.g. shoes on the mats, dirty toilets or shower facilities, equipment not 
				in its correct place etc.) or anything else requiring attention should be made known to our <a href="Instructors.html">instructors</a>. </li>
			</ul>
	</section>
	<section>
		<h2>Maintain good personal hygiene</h2>
			<ul>
				<li class="gym_rules">Whether it&apos;s wearing a clean gi (that includes your belt too) or keeping your nails short, basic hygiene is a must, 
				especially when you&apos;re training martial arts. Many combat sports require hard physical training in close contact with other
				people, and it is for this reason that serious infections like Staph and MRSA are commonplace in them.</li> 
				<li class="gym_rules">Before attending a class, make sure that you are showered and that all of your training gear is clean. In addition 
				to preventing the above, nobody will want to train with you if you smell like your last training session!</li>
				<li class="gym_rules">Shower again after every training session
				<li class="gym_rules">Don&apos;t sit on the reception couches with sweaty training gear. Please leave this area clear for guests/ spectators.</li>
				<li class="gym_rules">Wear clean indoor flip flops in ALL areas of the gym (especially changing rooms) and remove them before stepping on the mats.
				Do not wear flip flops from outside as you are walking dirt in.</li>
				<li class="gym_rules">Keep cuts and abrasions clean and covered with a proper dressing (e.g, a bandage) until healed.</li>
				<li class="gym_rules">Immediately disinfect any cuts or scrapes after class.</li>
				<li class="gym_rules">Tape and protect pre-existing cuts/scrapes before going to class.</li>
				<li class="gym_rules">Do not store your sweaty training gear in a place where they will stay damp.</li>
				<li class="gym_rules">Keep your damp training gear away from pets, your couch, etc. Consider them contaminated.</li>
				<li class="gym_rules">NEVER bring a dirty gi/rashguard back to the mats. You could be re-contaminating them.</li>
				<li class="gym_rules">If you notice a training partner coming to class with dirty gear, you should NOT train with them and also educate them 
				on the health risks.</li>
			</ul>
	</section>
	<section>
		<h2>Be a good training partner</h2>
			<ul>
				<li class="gym_rules">When in class and working with a partner, you should not talk with them about anything other than the techniques that you are 
				supposed to be drilling.</li>
				<li class="gym_rules">All class participants must wear the mandatory equipment for a class (mandatory equipment required for a class can be found on 
				the page for each of our <a href="Programmes.html">programmes</a>). There are NO exceptions to this rule. This is for your safety and 
				the safety of all those that you will be training with. The class instructor reserves the right to not allow those who do not adhere 
				to this rule to train.</li>
				<li class="gym_rules">If you want to spar/ roll competitively, say so up front to your partner. As long as you are clear from the start, then it is fine.</li> 
				<li class="gym_rules">If you haven&apos;t been training as long as your partner, then acknowledge that fact when you ask them to spar/ roll with you.</li>
				<li class="gym_rules">If you are significantly more skilled and experienced than your sparring/ rolling partner, do NOT be a bully. Neither of 
				you learn anything so you both lose out. Let them work on you and work on the things that you are not as good at. This helps both
				of you learn and get better.</li>
				<li class="gym_rules">Grabbing fingers, ears, hair, or skin is not allowed under any circumstances. These things won&apos;t give you an advantage, but they 
				will make your training partner angry.</li>
				<li class="gym_rules">When applying a submission in BJJ, you should move in slow motion, and give your partner lots of time to tap. If they refuse, you 
				should explain they need to tap, without extending the lock, and if they still refuse, let it go.</li>
				<li class="gym_rules">As you gain more grappling experience, you will learn to tell the difference between something being uncomfortable, and something 
				painful that could cause injury. Pain is your body becoming injured; which is neither tough, nor smart. So when in doubt, tap. Tap 
				early, tap hard, and tap directly on your partner&apos;s body, not on the mat itself. There is no room for egos.</li>
				<li class="gym_rules">If you train in a class and have an existing injury, it is up to you to notify any partner that you train with.</li>
				<li class="gym_rules">If a training partner mentions any current injuries they may have, you must respect that when you train with them. You should 
				imagine how you would want your training partner to treat you if you were injured.</li>
				<li class="gym_rules">If you start bleeding, stop immediately, attend to the wound and cleaning up your training space. The coaches will gladly show you 
				how to go about this.</li>
				<li class="gym_rules">What are considered to be advanced and more dangerous techniques (e.g. leg-locks or cranks in BJJ, suplexes in Wrestling) can have 
				devastating results if executed poorly and should NEVER be attempted by beginners. Anyone who attempts techniques such as these should
				first consult with the class instructor and get their permission and the permission of their training partners.</li>
			</ul>
	</section>
	<section>
		<h2>Respect your coaches</h2>
			<ul>
				<li class="gym_rules">If the timer is running, wait until the coach calls break before you quit the drill, roll, or exercise.</li> 
				<li class="gym_rules">Be coachable - it&apos;s what you&apos;re paying your fees for. Observe when the instructor is demonstrating techniques with as much focus as 
				possible and try to understand the purpose behind them. If you are stuck with something, ask the coach. They are there to share their
				knowledge and will be happy to do so.</li>
				<li class="gym_rules">Let the coaches do the coaching - it&apos;s what they are there for. Helping your partner to understand the drill or breaking down movement
				is fine, but make sure it&apos;s in line with the class at hand.</li>
				<li class="gym_rules">Show up on time so you don&apos;t miss key points at the start of the class - and warm up properly. Similarly, don&apos;t slink off early and 
				skip your role on the receiving end.</li>
				<li class="gym_rules">If you need to the leave the class for any reason, you must inform the coach.</li>  
				<li class="gym_rules">If you are unable, or unwilling to do anything your Coach is asking, then communicate with them directly. All of our staff is here 
				to help and we will accommodate you as needed.</li> 
			</ul>
	</section>
</main>
