<% provide(:title, "Home") %>
	<div class="center jumbotron" style="margin: 0; border-radius: 0; padding: 1em;">
		<h1>Welcome to Team Impact</h1>
		<%= link_to "Sign up now!", sign_up_path, class: "btn btn-primary home" %>
		<%= link_to image_tag("TI_HomePhoto_Complete5.jpg", alt: "Team Impact Home Page Photo", width: "100%") %>
	</div>
