
		<div class="row">
			<section>	
				<h2>What is Boxing?</h2>
			</section>
			<section>
				<p>Boxing, in some form or another, has existed ever since man first learned to make a fist and throw a punch. Often called 
				&lsquo;the sweet science,&rsquo; Boxing is a combat sport supervised by a referee and is engaged in by two competitors during a series of
				one to three-minute intervals called rounds. Victory is achieved if the opponent is knocked down and unable to get up before
				the referee counts to ten seconds (a Knockout, or KO) or if the opponent is deemed too injured to continue (a Technical Knockout,
				or TKO). If there is no stoppage of the fight before an agreed number of rounds, a winner is determined either by the referee&apos;s
				decision or by judges&apos; scorecards.</p>
				<p>Although fighting with fists comes naturally to people, the ancient Greeks provide us our first historical records of boxing
				as a formal sport; they codified a set of rules, staged tournaments with professionals, and incorporated it into the Olympics in 
				688 B.C. Modern Boxing is both an amateur and professional sport practiced by men and women all around the world, combining 
				offensive punches with defensive blocks and evasive footwork. It is a fast-paced sport that produces some of the fittest athletes
				on the planet.</p>
				<p>Boxing is also an intrinsic part of Mixed Martial Arts, as all MMA bouts start with each opponent standing. However, MMA Boxing
				has been significantly modified from traditional boxing to account for the differences in the rule sets of the two sports.</p>
			</section>
			<section>
				<h2>What is Boxing training like?</h2>
			</section>
			<section>
				<%-# link_to image_tag("programmes_images/Boxing_smallimg_complete.jpg"), alt: "Boxing bag work", style: "width: 100%;" -%>
				<p>Training sessions typically involve some form of high intensity cardio and bodyweight workout such as:</p>
			</section>
			<section>
				<ul>
					<li>Skipping rope</li><br>
					<li>Heavy bag work</li><br>
					<li>Speed bag work</li><br>
					<li>Pad work</li><br>
					<li>Footwork drills</li><br>
				</ul>
			</section>
			<section>
				<p>Heavy emphasis is also placed on technique, which will be taught by our instructors and which an individual will drill with on
				a progressively resisting partner. With an instructor&apos;s permission, students who are deemed technically proficient and responsible
				enough will be allowed to attend the intermediate and advanced classes and spar.</p>
			</section>
			<section>
				<h2>What Boxing Classes are available?</h2>
			</section>
			<section>
				<p>There is no denying that getting punched is not good for your long-term health. Boxing is a tough sport that is not without its
				risks. Head and facial injuries are common, and many boxers carry scars from their bouts. However, learning to box doesn&apos;t necessarily
				mean that you have to enter boxing matches or even spar. For many of our members, boxing training rather than fighting is enough of
				a thrill, and they have no desire to step into a competitive ring. Boxing training is suitable for everyone and workouts can be scaled 
				to match your experience and fitness levels.</p> 
				<p>For those who are interested in competing or are already experienced competitors, we have a solid stable of active fighters led 
				by our Boxing coach Aaron Murray and run competition practices four times a week. Check out our table of Boxing 
				classes available below.</p>
			</section>
		</div>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Class Type</th>
						<th>Minimum Experience Requirement</th>
					</tr>
				<thead>
				<tbody>
					<tr>
						<td class="beginner">Beginner</td>
						<td>
							<ul>
								<li>Open to all levels</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="intermediate">Intermediate</td>
						<td>
							<ul>
								<li>Minimum 1 year Boxing training</li>
								<li>Prior permission from class<br>instructor</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="advanced">Advanced</td>
						<td>
							<ul> 			
								<li>Minimum 2 years Boxing training</li>
								<li>Prior permission from class<br>instructor</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="competition">Competition</td>
						<td>
							<ul>
								<li>Invite only. Must have direct<br>permission from competition<br>trainer</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<section>
				<h2>What equipment do I need for Boxing?</h2>
			</section>
			<section>
				<p>Boxing workouts require a variety of specialist equipment including punch bags, jump ropes, focus pads and other essentials, 
				all of which are provided. Please view the table below to find out the required equipment for our Boxing classes, taking into 
				account the <%= link_to "Gym Rules", gym_rules_path %> in relation to this subject. If you wish to do a particular class but do not 
				have the mandatory equipment needed, we have a limited supply on the premises. However, we cannot guarantee you will be able to 
				use it, so it is strongly recommended that you bring your own.
				If you wish to buy some equipment, <%= link_to "sign up", sign_up_path %> and check out our range of products in the Members Store.
			</section>
		</div>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Class Type</th>
						<th>Mandatory Equipment</th>
						<th>Optional (but recommended) equipment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="beginner">Beginner</td>
						<td>
							<ul>
								<li>Flat-soled athletic shoes<br>(e.g. trainers)</li>
								<li>Shorts</li>
								<li>T-Shirt</li>
								<li>Mouth guard</li>
								<li>Boxing gloves (preferably 16oz)</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Hand wraps</li>
								<li>Water bottle</li>
								<li>Head guard</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="intermediate">Intermediate</td>
						<td rowspan="3">
							<ul>
								<li>Flat-soled athletic shoes<br>(e.g. trainers)</li>
								<li>Shorts</li>
								<li>T-shirt</li>
								<li>Mouth guard</li>
								<li>16 oz boxing gloves</li>
								<li>Head guard</li>
							</ul>
						</td>
						<td rowspan="3">
							<ul>
								<li>Hand wraps</li>
								<li>Water bottle</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="advanced">Advanced</td>
					</tr>
					<tr>
						<td class="competition">Competition</td>
					</tr>
				</tbody>
			<table>
		</div>