
		<div class="row">
		<section>
				<p>Martial arts have always been popular, but for many years most people only trained in one martial art at a time. Boxers boxed, judoka 
				practiced judo and wrestlers wrestled. However, the question that always came up was &#8212; which martial art was best?
				In the early 1990&apos;s, the Ultimate Fighting Championship (UFC) was formed in an attempt to answer this question. Its premise was to pit 
				experts from a variety of martial arts against each other to see which expert and, more significantly, which style would come out on top. 
				The answer was a surprise to many; the Brazilian Jiu-Jitsu fighter Royce Gracie who beat the far bigger Karate expert Gerard Gordeau in 
				the final in less than two minutes! Martial artists around the world sat up and took notice, beginning to integrate elements of other martial 
				arts into their own training, giving birth the sport of Mixed Martial Arts (or &lsquo;MMA&rsquo;).</p>
		</section>
		<section>
			<h2>What is MMA?</h2>
		</section>
		<section>
			<p>Bruce Lee, often considered the original MMA fighter, summed up MMA perfectly when he said &lsquo;Absorb what is useful, discard what is useless, 
			and add what is uniquely your own.&rsquo; The sport of MMA is engaged in by two competitors in either a cage or a ring over 3-5 rounds of 3-5 
			minutes. Like Boxing, victory is achieved by a Knockout or Technical Knockout (determined by the referee) or a judges&apos; decision if the bout 
			lasts the full time period. The rule set varies according to the experience level of the two combatants, but even at a low level is limited. 
			Competitors can use all kinds of striking, clinch, takedowns and grappling techniques to win.</p>
		</section>
		<section>
			<h2>What is MMA training like?</h2>
		</section>
		<section>
			<p>MMA training can be as varied as the art itself, but generally is categorised fundamentally as follows:
		</section>
		<section style="font-size: 1.25em;">
			<ol type="1">
				<li class="mma_ol_li">MMA Striking</li>
					<ul type="disc">
							<li>Combinations that mix in aspects of primarily <%= link_to "Muay Thai", '#' %>, <%= link_to "Boxing", '#' %> and 
							<%= link_to "Wrestling", '#' %> to develop a solid MMA Striking base.</li>
							<li>Footwork drills tailored for MMA.</li>
							<li>Partner drilling and light technical sparring to help develop the reactions and timing needed to execute taught techniques.</li>
						</ul>
					<li class="mma_ol_li">Standing Clinch</li>
						<ul type="disc">
							<li>Takes place both in the centre of the cage and against the wall/ fence.</li>
							<li>Technique drills with a partner that cover various positional situations in which someone can find themselves in the clinch.</li>
							<li>Positional sparring; grappling sparring focused around the particular position with the aim of someone being able to utilise 
							the techniques taught in class against a resisting opponent. Heavy emphasis is placed on this type of training.</li>
						</ul>
					<li class="mma_ol_li">Groundwork</li>
						<ul type="disc">
							<li>Training is focused on the two positions in which somebody can find themselves in on the ground in an MMA contest; on top 
							and on bottom.</li>
							<li>Training methods are similar to those of Standing Clinch. They are focused on various common scenarios and positions whether 
							somebody is on top of or under their opponent, and the best strategies to deal with them (In MMA, there is a common saying that 
							&lsquo;top is king.&rsquo; If you have ever grappled with someone in an MMA class and found yourself on the bottom, you&apos;ll understand why!).</li>
						</ul>
				</ol>
			</section>
			<section>
				<p>All training is carried out under the strict supervision of our MMA coaches Rich Jones, Michael Prendergast and Aaron Jennings.</p>
		    </section>
		<section>
			<h2>What MMA Classes are available?</h2>
		</section>
		<section>
			<p>Although we have a number of successful competitive fighters at Team Impact, we embrace all experience and fitness levels. From part-time 
			enthusiasts, to full time professional fighters, we have them all under our roof. Check out the types of MMA classes available in the table 
			below.</p>
		</section>
		</div>
	</div>
	<div class="row">
		    <table class="table">
		        <thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Minimum Experience Requirement</td>
				    </tr>
			    </thead>
			    <tbody>
				    <tr>
					    <td class="beginner">Beginner</td>
					    <td>
						    <ul>
						    	<li>Open to all skill levels</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="intermediate">Intermediate</td>
					    <td>
						    <ul>
							    <li>Minimum of 1 year MMA training</li>
							    <li>Prior permission from the class instructor</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="advanced">Advanced</td>
					    <td>
						    <ul>
							    <li>Minimum of 2 years MMA training</li>
							    <li>Prior permission from the class instructor</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="competition">Competition</td>
					    <td>
						    <ul>
							    <li>Invite only. Must have direct permission from the class instructor</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="kids">Kids</td>
					    <td>
						    <ul>
							    <li>Open to all skill levels</li>
							    <li>Must be between ages 5 and 10</li>
						    </ul>
					    </td>
				    </tr>
				<tr>
					<td class="teens">Teens</td>
					<td>
						<ul>
							<li>Open to all skill levels</li>
							<li>Must be between ages 11 and 15</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="womens">Womens</td>
					<td>
						<ul>
							<li>Open to all skill levels</li>
							<li>Women only</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		</section>
	</div>
	<div class="row">
		<section>
			<h2>What equipment do I need for MMA?</h2>
				<p>Please view the table below for required equipment for our MMA classes, taking into account the <a href="GymRules.html">Gym Rules</a> in 
				relation to this subject. If you wish to do a particular class but do not have the mandatory equipment needed, we have a limited supply on 
				the premises. However, we cannot guarantee you will be able to use it so it is strongly recommended that you bring your own. If you wish to 
				buy some equipment, check out our list of useful links to get you started.</p>
		</section>
	<div class="row">
	<div class="row">
		<section>
			<table class="table">
			    <thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Mandatory Equipment</td>
					    <td>Optional (but recommended) Equipment</td>
				    </tr>
			    <thead>
		        <tbody>
		            <tr>
					    <td class="beginner">Beginner</td>
					    <td rowspan="4">
						    <ul>
							    <li>Mouth guard</li>
							    <li>MMA gloves</li>
							    <li>Shorts</li>
							    <li>T-Shirt</li>
						    </ul>
					    </td>
					    <td rowspan="4">
						    <ul>
							    <li>Boxing gloves (preferably 16oz)</li>
							    <li>Shin guards</li>
							    <li>Hand wraps</li>
							    <li>Head guard</li>
							    <li>Water bottle</li>
							    <li>Rash guard</li>
							    <li>Groin guard</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="kids">Kids</td>
				    </tr>
				    <tr>
					    <td class="teens">Teens</td>
				    </tr>
				    <tr>
					    <td class="womens">Womens</td>
				    </tr>
				    <tr>
					    <td class="intermediate">Intermediate</td>
					    <td rowspan="3">
						    <ul>
							    <li>Mouth guard</li>
							    <li>MMA gloves</li>
							    <li>16oz Boxing gloves</li>
							    <li>Shin guards</li>
							    <li>Head guard</li>
							    <li>Shorts</li>
							    <li>T-Shirt</li>
						    </ul>
					    </td>
					    <td rowspan="3">
						    <ul>
							    <li>Hand wraps</li>
							    <li>Water bottle</li>
							    <li>Rash guard</li>
							    <li>Groin guard</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="advanced">Advanced</td>
				    </tr>
				    <tr>
					    <td class="competition">Competition</td>
				    </tr>
			    </tbody>
		    </table>
	</div>
