		<section>
	<p>Members can book an hour-long one-on-one session with one of our instructors. There are daily slots open 
	for private sessions. Please speak directly with the instructor you wish to train with on the premises to arrange a date with an empty slot. 
	To find out prices, check out our Memberships section.</p>
</section>