<div class="row">
	<section>
		<p>Despite the continually increasing number of women getting involved in MMA and BJJ at all levels of the sports, they are still very much 
		male-dominated. At Team Impact, we actively encourage the increase in female participants, but are aware that it can be a little daunting for 
		a female beginner to start training in classes that contain mostly men. Because of this, we run Women&apos;s classes in 
		<%= link_to "MMA", '#' %> and <%= link_to "BJJ", '#' %>, taught by our Women&apos;s instructor Carrie Canning. Classes are 
		small, friendly, open to women of any level and, most importantly, fun and a great method of stress relief.</p>
	</section>
	<section>
		<h2>What is the training like in the Women&apos;s classes?</h2>
	</section>
	<section>
		<p>In addition to featuring the standard training involved in our MMA, BJJ and <%= link_to "Muay Thai", '#' %> programmes, 
		the Women&apos;s classes focus more on the applications of these arts within the context of a self defence situation &#8212; the root cause of 
		their development. Various self-defence situations are presented in class, strategies are discussed 
		and participants live drill techniques from these arts that are deemed appropriate for the situation.</p>
	</section>
	<section>
		<h2>What Women&apos;s classes are available?</h2>
	</section>
	<section>
		<p>Please view the table below to see our available Women&apos;s classes.</p>
	</section>
</div>
	    <div class="row">
			<table class="table">
				<thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Minimum Experience Requirement</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
					    <td>Women's BJJ</td>
					    <td rowspan="3">
						    <ul>
							    <li>Women only</li>
							    <li>Open to all skill levels</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td>Women's MMA</td>
				    </tr>
				    <tr>
					    <td>Women's Muay Thai</td>
				    </tr>
				</tbody>
			</table>
		</div>
		<div class="row">
		    <section>
			    <h2>What equipment do I need for Women&apos;s classes?</h2>
		    </section>
		    <section>
				<p>Sparring for the Women&apos;s MMA and Muay Thai classes is optional. If you wish to do so, please wear a level of protective equipment 
				deemed appropriate by Carrie. Please see the table below to view the equipment required for each of our Women&apos;s classes, taking into account 
				the <%= link_to "Gym Rules", gym_rules_path %> in relation to this subject. If you wish to do a particular class but do not have the mandatory 
				equipment needed, we have a limited supply on the premises. However, we cannot guarantee you will be able to use it so it is strongly 
				recommended that you bring your own. If you wish to buy some equipment, check out our store.</p>
		    </section>
	    </div>
	        <div class="row">
			    <table class="table">
			        <thead>
				        <tr>
					        <td>Class Type</td>
					        <td>Mandatory Equipment</td>
					        <td>Optional (but recommended) Equipment</td>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
					        <td>Women's BJJ</td>
					        <td class="ginogi">
						        <strong>Gi:</strong>
						        <ul>
							        <li>Gi</li>
							        <li>T-Shirt</li>
							        <li>Mouth guard</li>
						        </ul>
						        <strong>No-Gi</stong>
						        <ul>
							        <li>T-Shirt</li>
							        <li>Shorts</li>
							        <li>Mouth guard</li>
						        </ul>
					        </td>
					        <td class="ginogi">
						        <strong>Gi:</strong>
						        <ul>
							        <li>Rash guard</li>
							        <li>Ear guard</li>
							        <li>Water bottle</li>
						        </ul>
						        <strong>No-Gi:</strong>
						        <ul>
							        <li>Rash guard</li>
							        <li>Ear guard</li>
							        <li>Water bottle</li>
						        </ul>
					        </td>
				        </tr>
				        <tr>
					        <td>Women's MMA</td>
					        <td>
						        <ul>
							        <li>T-Shirt</li>
							        <li>Shorts</li>
							        <li>Mouth guard</li>
						        </ul>
					        </td>
					        <td>
						        <ul>
							        <li>MMA gloves</li>
							        <li>Rash guard</li>
							        <li>Water bottle</li>
							        <li>16oz Boxing gloves</li>
							        <li>Shin guards</li>
							        <li>Head guard</li>
						        </ul>
					        </td>
				        </tr>
				        <tr>
					        <td>Women's Muay Thai</td>
					        <td>
						        <ul>
							        <li>T-Shirt</li>
							        <li>Shorts</li>
							        <li>Mouth guard</li>
						        </ul>
					        </td>
					        <td>
					    	<ul>
						    	<li>16oz Boxing gloves</li>
						    	<li>Shin guards</li>
						    	<li>Head guard</li>
						    	<li>Water bottle</li>
						    </ul>
					    </td>
				    </tr>
				</tbody>
			</table>
		</div>
	