<% provide(:title, "Programmes") %>
	<div class="row" style="padding: 1em; background-color: #000000;">
		<section>
			<h1 style="margin-top: 0;"><%= yield(:title) %></h1>
		</section>
		<% @programmes.each do |programme| %>
			<%= render 'programmes/programme', programme: programme %>
		<% end %>
	</div>
<script>
	$(document).ready(function() {
		$("h1").mouseenter(function() {
			$("#programme-page-quotation").animate({
				'margin-top' : '+= 1em',
				'margin-bottom' : '+= 1em'
			}, 500, function() {
				$("#programme-page-quotation").fadeIn(1000);
			});
		}).mouseleave(function() {
			$("#programme-page-quotation").animate({
				'margin-top' : '-= 1em',
				'margin-bottom' : '+= 1em'
			}, 500, function() {
				$("#programme-page-quotation").fadeOut(1000);
			});
		});
	});
</script>
