<section>
	<h1><%= @programme.name %></h1>
</section>
<section>
	<%= image_tag("programmes_images/#{replace_char(@programme.name, " ", "_")}_bigimg_complete.jpg", alt: @programme.name, width: "100%", height: "auto") %>
</section>
	<div class="container">
	    <%= render "programmes/#{replace_char(@programme.name.downcase, " ", "_")}" %>
	</div>
</div>