<% provide(:title, "#{@member.user_name}") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<div class="row">
    <div class="col-md-8" style="padding-top: 1em; padding-bottom: 1em; padding-left: 2em; padding-right: 2em;">
    </div>
    <aside class="col-md-4">
      <%= render 'layouts/sidebar', member: @member %>
    </aside>
</div>
