<% provide(:title, "#{@member.user_name}") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<div class="row">
    <div class="col-md-8 admin members show">
    </div>
    <aside class="col-md-4">
      <%= render 'layouts/sidebar', member: @member %>
    </aside>
</div>
