<h1>Enquiry Submission</h1>

<p>Hi <%= @enquiry.first_name %>!</p>
<p>Thank you for your interest in us. Your enquiry has been logged and a member of our team will be in touch with you as soon as possible</p>
<p>Kind Regards,</p>
<p>Team Impact</p>
