
		<div class="row">
            <section>	
			    <h2>What is Fighting Fit?</h2>
		    </section>
		    <section>
			    <p>Train like a fighter without getting hit! Team Impact offers fitness programmes based on training and conditioning exercises that are 
				followed by elite Mixed Martial Arts fighters in a safe, non-contact environment. Our trainers work with the 
				Strength &amp; Conditioning Experts at the <%= link_to "Irish Strength Institute", "https://irishstrengthinstitute.com/", target: "_blank" %> 
				(ISI) to develop these programmes with the common vision of wanting to take the incredible health and fitness benefits that Mixed Martial Arts 
				athletes enjoy and make them accessible to everyone.</p>
				<p>Whether throwing defending strikes, shooting for or defending a takedown, moving around the cage to cut off your opponent and land 
				effective shots or grappling on the ground, the variance of physical activities that competitive MMA fighters must be conditioned to perform 
				inside the cage is huge. At the same time, they must be capable of performing physical feats such as these at maximum intensity over 
				multiple rounds of between 3-5 minutes. Have you ever seen an MMA fighter who wasn&apos;t in incredible shape? Chances are that you haven&apos;t. 
				Training for MMA is a full-body workout that pushes its competitors to their physical and mental limits like very few sports do. Whether 
				you&apos;re training to fight or training for fun, MMA can get you in the best shape of your life.</p>
				<p>The programmes are taught by our MMA trainers Michael Prendergast and Aaron Jennings using the latest setup to simulate opponents and fighting situations. It does not
				matter if you want to lose weight, learn more about self-defence or get into competitive shape. You will get the exposure of skills, conditioning 
				and fitness training of elite fighters without the worry of actually fighting with someone and potentially taking damage.</p>
			</section>
			<section>
			    <h2>What is the Fighting Fit training like?</h2>
		    </section>
		    <section>
			    <p>The Fighting fit classes are structured similarly to HIIT (High Intensity Interval Training) Circuits. After a group dynamic warm-up, 
			    participants will be introduced to a series of strenuous full-body exercises that form part of a conditioning circuit. These exercises vary 
			    considerably and include:
		    </section>
		    <section>
				<ul>
					<li>Flipping Tyres</li><br>
					<li>Sled-pushing</li><br>
					<li>Ground &amp; Pound with a heavy bag</li><br>
					<li>Battle ropes</li><br>
					<li>Striking on the heavy bag</li><br>
					<li>Shoulder climbing up against the cage</li><br>
				</ul>
			</section>
			<section>
			    <p>The Fighting Fit programmes are designed to replicate the physical demands that would be expected of somebody in a competitive MMA fight. 
			    They are designed to make you feel uncomfortable, so that you learn to be comfortable with feeling uncomfortable; a mental state that all 
			    fighters must possess to succeed and also an invaluable life skill for anybody.</p>
		    </section>	
		    <section>	
			    <h2>What classes are available?</h2>
		    </section>
		    <section>
				<p>All Fighting Fit classes are welcome to all individuals aged 16+. Fitness levels or experience do not matter. The class instructor will 
				ensure that everyone will be suitably challenged. To find out class times, please view our timetable.</p>
			</section>
		    <section>	
			    <h2>What equipment do I need?</h2>
		    </section>
		</div>
		<div class="row">
			<table class="table">
			    <thead>
				    <tr>
					    <td>Mandatory Equipment</td>
					    <td>Optional(but recommended) equipment</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
					    <td>
						    <ul>
							    <li>Shorts</li>
							    <li>T-Shirt</li>
						    </ul>
					    </td>
					    <td>
					    	<ul>
							    <li>Water bottle</li>
						    </ul>
					    </td>
				    </tr>
				</tbody>
			</table>
		</div>