		<div class="row">
		    <section>
				<p>We run classes in <%= link_to "Brazilian Jiu Jitsu", '#' %>, <%= link_to "Mixed Martial Arts", '#' %> 
				and <%= link_to "Muay Thai", '#' %> suitable for children aged between 5 and 10. These classes are touch-contact only and focus on 
				fundamentals in these three disciplines to give participants a solid foundational knowledge, while simultaneously keeping things playful and fun to 
				keep them engaged. All classes are under the careful supervision of one of our instructors.</p>
		    </section>
		    <section>
			    <h2>What Kid&apos;s classes are available?</h2>
		    </section>
		    <section>
				    <p>Please view the table below.</p>
		    </section>
		    <section>
	    <div class="row">
		    <table class="table">
		        <thead>
				    <tr>
					   <td>Class Type</td>
					   <td>Minimum Experience Requirement</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
				        <td>Kid&apos;s BJJ</td>
				        <td rowspan="3">
						    <ul>
							    <li>Open to all skill levels</li>
							    <li>Must be between ages 5 and 10 years old</li>
					        </ul>
					   </td>
				    </tr>
				    <tr>
					    <td>Kid&apos;s MMA</td>
				    </tr>
				    <tr>
					    <td>Kid&apos;s Muay Thai</td>
				    </tr>
				</tbody>
		    </table>
	    </div>
	    <div class="row">
		      <section>
		        <h2>What equipment do I need for Kid&apos;s classes?</h2>
		     </section>
		      <section>
			     <p>The Kid&apos;s MMA and Muay Thai classes are touch-contact only, so sparring equipment such as gloves and shin guards is considered 
			     unnecessary. If, however, you would still like your child to be protected, we have a limited supply of protective equipment for kids on 
			     the premises. They are also welcome to bring their own. Please view the table below</p>
		      </section>
	      </div>
	       <div class="row">
		        <table class="table">
		            <thead>
			            <tr>
				            <td>Class Type</td>
				            <td>Mandatory Equipment</td>
				            <td>Optional(but recommended) Equipment</td>
			            </tr>
			         </thead>
			         <tbody>
			            <tr>
				            <td>Kid&apos;s BJJ</td>
				            <td class="ginogi">
				                <strong>Gi:</strong>
				                <ul>
						            <li>Gi</li>
						            <li>T-Shirt</li>
						            <li>Mouth guard</li>
					            </ul>
					           <strong>No-Gi:</strong>
					            <ul>
						            <li>T-Shirt</li>
						            <li>Shorts</li>
					            </ul>
				            </td>
				            <td class="ginogi">
				                <strong>Gi:</strong>
					            <ul>
						            <li>Rash guard</li>
						            <li>Ear guard</li>
						            <li>Water bottle</li>
					            </ul>
				                <strong>No-Gi:</strong>
					            <ul>
						            <li>Rash guard</li>
						            <li>Water bottle</li>
					            </ul>
				            </td>
			            </tr>
			             <tr>
				            <td>Kid&apos;s MMA</td>
			    	        <td>
					            <ul>
						            <li>T-Shirt</li>
						            <li>Shorts</li>
						            <li>Mouth guard</li>
					            </ul>
				            </td>
				            <td>
					            <ul>
						            <li>MMA Gloves</li>
						            <li>Head guard</li>
						            <li>Rash guard</li>
						            <li>Water bottle</li>
					            </ul>
				            </td>
			            </tr>
			            <tr>
				            <td>Kid&apos;s Muay Thai</td>
				            <td>
					            <ul>
						            <li>T-Shirt</li>
						            <li>Shorts</li>
						            <li>Mouth guard</li>
					            </ul>
				            </td>
				            <td>
					            <ul>
						            <li>Boxing gloves</li>
						            <li>Water bottle</li>
						            <li>Head guard</li>
					            </ul>
				            </td>
			            </tr>
			         </tbody>
		          </table>
	            </div>