
		<div class="row">
		<section>
			<h2>What is Muay Thai?</h2>
		</section>
		<section>
		    <p>Muay Thai is a hard martial art from Thailand and is the country&apos;s national sport. Muay Thai as it is practiced today varies 
			significantly from its ancestor Muay Boran. Similar in format to Western <%= link_to "Boxing", '#' %>, in modern Muay Thai two opponents 
			fight each other under the supervision of a referee over 3-5 rounds of between 2 and 3 minutes each. They can win via Knockout, Technical 
			Knock Out or, should the contest last the full duration, a judges&apos; decision.</p>
			<p>Muay Thai is referred to as the &lsquo;Art of Eight Limbs&rsquo; because it makes use of punches, kicks, elbows and knee strikes, thus using 
			eight &lsquo;points of contact&rsquo;, as opposed to &lsquo;two points&rsquo; (fists) in Western Boxing and &lsquo;four points&rsquo; (hands and feet) used in sport-oriented 
			martial arts.</p>
			<p>A large part of Muay Thai, and also what makes it useful for MMA, is the standing Thai clinch (often just referred to as &lsquo;the clinch&rsquo;). 
			In contrast to Western Boxing, where two fighters are separated if they end up in a clinch situation, in Muay Thai the fight keeps going. 
			There are many techniques from this position that a proficient Nak Muay (Thai fighter) will use to control their opponent and execute sweeps 
			and devastating elbow and knee strikes.</p>
		</section>
		<section>
			<h2>What is Muay Thai training like?</h2>
		</section>
		<section>
			<p>Training sessions typically involve some form of high intensity conditioning specific to Muay Thai such as </p>
		</section>
		<section>
			<ul>
				<li>Skipping rope</li><br>
				<li>Heavy bag work</li><br>
				<li>Thai Pad work</li><br>
				<li>Clinch drilling</li><br>
			</ul>
		</section>
		<section>
			<p>All classes are appropriately supervised by our Muay Thai instructor Aaron Jennings. Proper technique is 
			stressed at all times. This will be taught by the instructor, then an individual will drill the taught technique with a progressively 
			resisting partner.</p>
			<p>With the permission of the instructor, students who are deemed technically proficient and responsible enough will be allowed to attend 
			the intermediate and advanced classes and spar.</p>
		</section>
		<section>
			<h2>What Muay Thai classes are available?</h2>
		<section>
	    <section>
			<p>All types of individuals, skill and experience levels are catered for in our Muay Thai classes here at Team Impact. Whether you&apos;re a 
			complete beginner who just wants to do it to get fitter or a seasoned professional fighter, we have something for everyone. Please see all 
			of our available classes in the table below.</p>
		</section>
		</div>
		<div class="row">
			<table class="table">
				<thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Minimum Experience Requirement</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
					    <td class="beginner">Beginner</td>
					    <td>
						    <ul>
							    <li>Open to all skill levels</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="intermediate">Intermediate</td>
					    <td>
						    <ul>
							    <li>Minimum 1 year Muay Thai training</li>
							    <li>Prior permission from the class instructor</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="advanced">Advanced</td>
					    <td>
						    <ul>
							    <li>Minimum 2 years Muay Thai training</li>
							    <li>Prior permission from the class instructor</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="competition">Competition</td>
					    <td>
						    <ul>
							    <li>Invite only. Must have direct permission from class instructor</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="kids">Kids</td>
					    <td>
						    <ul>
						    	<li>Open to all skill levels</li>
							    <li>Must be between ages 5 and 10</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="teens">Teens</td>
					    <td>
						    <ul>
							    <li>Open to all skill levels</li>
							    <li>Must be between ages 11 and 15</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="womens">Womens</td>
					    <td>
						    <ul>
							    <li>Open to all skill levels</li>
							    <li>Women only</li>
						    </ul>
					    </td>
				    </tr>
			</table>
		</div>
		<div class="row">
		    <section>
			    <h2>What equipment do I need for Muay Thai?</h2>
			</section>
			<section>
				<p>All of the specialist equipment required required for Muay Thai training such as Heavy bags and Thai pads will be provided. 
				Please view the table below view required equipment for our Muay Thai classes, taking into account the <%= link_to "Gym Rules", '#' %> 
				in relation to this subject. If you wish to do a particular class but do not have the mandatory equipment needed, we have a limited supply 
				on the premises. However, we cannot guarantee you will be able to use it so it is strongly recommended that you bring your own. If you wish 
				to buy some equipment, check out our the item in our store.</p>
		    </section>
		</div>
		<div class="row">
			<table class="table">
				<thead>
				    <tr>
					    <td>Class Type</td>
					    <td>Mandatory Equipment</td>
					    <td>Optional (but recommended) Equipment</td>
				    </tr>
				</thead>
				<tbody>
				    <tr>
					    <td class="beginner">Beginner</td>
					    <td rowspan="4">
						    <ul>
							    <li>Shorts</li>
							    <li>T-Shirt</li>
							    <li>Hand wraps</li>
							    <li>Boxing gloves(preferably 16oz)</li>
							    <li>Mouth guard</li>
						    </ul>
					    </td>
					    <td rowspan="4">
						    <ul>
							    <li>Water bottle</li>
							    <li>Head guard</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="kids">Kids</td>
				    </tr>
				    <tr>
					    <td class="teens">Teens</td>
				    </tr>
				    <tr>
					    <td class="womens">Womens</td>
				    </tr>
				    <tr>
					    <td class="intermediate">Intermediate</td>
					    <td rowspan="3">
						    <ul>
							    <li>Shorts</li>
							    <li>T-Shirt</li>
							    <li>Hand wraps</li>
							    <li>16oz boxing gloves</li>
							    <li>Mouth guard</li>
							    <li>Head guard</li>
						    </ul>
					    </td>
					    <td rowspan="3">
						    <ul>
							    <li>Water bottle</li>
						    </ul>
					    </td>
				    </tr>
				    <tr>
					    <td class="advanced">Advanced</td>
				    </tr>
				    <tr>
					    <td class="competition">Competition</td>
				    </tr>
				</tbody>
		    </table>
		</div>