		<div class="row">
		    <section>
		        <p>These follow on from our Kid&apos;s Classes and are suitable for individuals between the ages of 11 and 15. Participants
		        in the Teens MMA and Muay Thai classes are allowed to engage in light contact sparring, under the condition that they are closely supervised
		        and wear protection deemed sufficient by the class instructor [see Instructors]. Please see the tables
		        below to view available classes and the required equipment for each.</p>
	        </section>
	        <section>
		        <h2>What Teens classes are available?</h2>
	        </section>
	        <section>
		        <p>Please view the table below to view our available Teens classes.</p>
		    </section>
	    </div>
	    <div class="row">
		    <table class="table">
			    <thead>
			        <tr>
				        <td>Class Type</td>
				        <td>Minimum Experience Requirement</td>
			        </tr>
		        </thead>
		        <tbody>
			        <tr>
				        <td>Teens BJJ</td>
				        <td rowspan="3">
					        <ul>
						        <li>Open to all skill levels</li>
						        <li>Must be between ages 11 and 15</li>
					        </ul>
				        </td>
			        </tr>
			        <tr>
				        <td>Teens MMA</td>
			        </tr>
			        <tr>
				        <td>Teens Muay Thai</td>
			        </tr>
		        </tbody>
	        </table>
	    </div>
	    <div class="row">
	        <section>
		        <h2>What equipment do I need for Teens classes?</h2>
		    </section>
		    <section>
		        <p>Please view the table below view required equipment for our Teens classes, taking into account the <%= link_to "Gym Rules", gym_rules_path %>
		        in relation to this subject. If you wish to do a particular class but do not have the mandatory equipment needed, we have a limited supply
		        on the premises. However, we cannot guarantee you will be able to use it so it is strongly recommended that you bring your own. If you wish
		        to buy some equipment, check out our store.</p>
	        </section>
	    </div>
	    <div class="row">
		    <table class="table">
		        <thead>
			        <tr>
				        <td>Class Type</td>
				        <td>Mandatory Equipment</td>
				        <td>Optional(but recommended) Equipment</td>
			         </tr>
			    </thead>
			    <tbody>
			        <tr>
				        <td>Teens BJJ</td>
				        <td>
				            <strong>Gi:</strong>
					        <ul>
						        <li>Gi</li>
						        <li>T-Shirt</li>
					            <li>Mouth guard</li>
					        </ul>
				            <strong>No-Gi:</strong>
					        <ul>
						        <li>T-Shirt</li>
						        <li>Shorts</li>
						        <li>Mouth guard</li>
					        </ul>
				        </td>
				        <td>
				            <strong>Gi:</strong>
					       <ul>
						        <li>Rash guard</li>
						        <li>Ear guard</li>
						        <li>Water bottle</li>
					        </ul>
				            <strong>No-Gi:</strong>
					        <ul>
						        <li>Rash guard</li>
						        <li>Water bottle</li>
					        </ul>
				        </td>
			        </tr>
			        <tr>
				        <td>Teens MMA</td>
				        <td>
					        <ul>
						        <li>T-Shirt</li>
						        <li>Shorts</li>
						        <li>Mouth guard</li>
					        </ul>
				        </td>
				        <td>
					        <ul>
						        <li>MMA Gloves</li>
						        <li>Rash guard</li>
						        <li>Water bottle</li>
						        <li>16oz Boxing gloves</li>
						        <li>Shin guards</li>
					        </ul>
				        </td>
			        </tr>
			        <tr>
				        <td>Teens Muay Thai</td>
				        <td>
					        <ul>
						        <li>T-Shirt</li>
						        <li>Shorts</li>
						        <li>Mouth guard</li>
					        </ul>
				        </td>
				        <td>
					        <ul>
						        <li>16oz Boxing gloves</li>
						        <li>Shin guards</li>
						        <li>Head guard</li>
						        <li>Water bottle</li>
					        </ul>
				        </td>
			        </tr>
			     </tbody>
		    </table>
	    </div>
