<section>
	<div class="col-md-4">
		<div class="card">
			<div class="image">
				<%= link_to(image_tag("#{instructor.instructor_avatar}"), instructor_path(instructor), alt: instructor.first_name + " " + instructor.first_name) %>
				<div class="middle">
					<div class="text"><%= instructor.first_name %> <%= instructor.last_name %></div>
				</div>
			</div>
		</div>
	</div>
<section>