<p>Pawel has been wrestling since he was five years old and had a highly decorated career in Freestyle and Greco-Roman wrestling spanning 15 
years. He was selected for the Polish Olympic team in Freestyle Wrestling in the 2008 and 2012 Olympic Games, taking silver in the Men&apos;s 69kg 
category. He retired from competition shortly after his second appearance in the games, moving to Ireland the year after. It was at this time 
that he became acquainted with Rich. The two quickly became good friends, so much so that Pawel decided to relocate to Ennis and become the 
wrestling coach at Team Impact, and has been here ever since.</p>
