<p>Sean acquired a Master&apos;s Degree in Physiotherapy from University College Cork six years ago and has been a practicing physiotherapist 
since that time. Prior to joining Team Impact, he worked his way up to becoming the head physio for Eircom League side Bohemians, and brings 
a wealth of knowledge and experience to keep all of our members in peak physical condition.</p> 