<% provide(:title, "Instructors") %>
	<div class="row" style="padding: 1em; background-color: #000000;">
		<section>
			<h1 style="margin: 0;"><%= yield(:title) %></h1>
		</section>
		<section id="instructor-page-quotation" class="instructors index quotation">
			<span style="font-style: italic;"><%= @instructor_page_quotation.split(" - ")[0] %></span>
			<% if !@instructor_page_quotation.split(" - ")[1].nil? %>
			 - <%= @instructor_page_quotation.split(" - ")[1] %>
			<% end %>
		</section>
		<% @instructors.each do |instructor| %>
			<%= render 'instructors/instructor', instructor: instructor %>
		<% end %>
	</div>
	<script>
		$(document).ready(function() {
			$("h1").mouseenter(function() {
				$("#instructor-page-quotation").animate({
					'margin-top' : '+= 1em',
					'margin-bottom' : '+= 1em'
				}, 500, function() {
				  $("#instructor-page-quotation").fadeIn(1000);
				});
			}).mouseleave(function() {
				$("#instructor-page-quotation").animate({
					'margin-top' : '-= 1em',
					'margin-bottom' : '-= 1em'
				}, 500, function() {
				  $("#instructor-page-quotation").fadeOut(1000);
				});
			});
		});
	</script>
