<% provide(:title, "Instructors") %>
	<div class="row">
		<section>
			<h1><%= yield(:title) %></h1>
		</section>
		<% @instructors.each do |instructor| %>
			<%= render 'instructors/instructor', instructor: instructor %>
		<% end %>
	</div>
