<% provide(:title, "Orders") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<div class="row">
    <div class="col-md-8 admin orders index">
        <div class="well">
            <% if !@orders.nil? %>
                <% @orders.each do |order| %>
                    <%= render 'admin/orders/order', order: order %>
                <% end %>
                    <div class="center admin orders index">
                        <%= will_paginate @orders %>
                    </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
