<section>
	<p>Our Boxing Area contains a full-sized professional boxing ring and a large assortment of Heavy Bags, 
	Uppercut Bags, Speed Bags, Double-Ended Bags, Skipping Ropes and Focus 	Pads.</p>
</section>