<section>
	<div class="col-md-4">
		<div class="card">
			<div class="image">
				<%= link_to(image_tag("#{facility.facility_avatar}"), facility_path(facility), alt: facility.name) %>
				<div class="middle">
					<div class="text"><%= facility.name %></div>
				</div>
			</div>
		</div>
	</div>
<section>