<% provide(:title, "Edit Facility") %> 
<% provide(:button_text, "Save Changes") %>
    <h1>Update Facility</h1> 
        <div class="row"> 
            <div class="col-md-6 col-md-offset-3"> 
                <%= render 'layouts/facility_form' %>
            </div>
        </div>
