<% provide(:title, "Facilities") %>
	<div class="row">
		<section>
			<h1><%= yield(:title) %></h1>
		</section>
		<% @facilities.each do |facility| %>
			<%= render 'facilities/facility', facility: facility %>
		<% end %>
	</div>
