<% provide(:title, "Facilities") %>
<div class="row">
	<section>
		<h1><%= yield(:title) %></h1>
	</section>
	<% if @facilities.any? %>
		<% @facilities.each do |facility| %>
			<%= render 'facilities/facility', facility: facility %>
		<% end %>
	<% end %>
</div>
