<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: "Facilities", page_heading_quotation_id: nil %>
<div class="row">
	<section>
		<h1><%= yield(:title) %></h1>
	</section>
	<% if @facilities.any? %>
		<% @facilities.each do |facility| %>
			<%= render 'facilities/facility', facility: facility %>
		<% end %>
	<% end %>
</div>
