<% provide(:title, "Facilities") %>
	<div class="row" style="padding: 1em; background-color: #000000;">
		<section>
			<h1 style="margin-top: 0;"><%= yield(:title) %></h1>
		</section>
		<% @facilities.each do |facility| %>
			<%= render 'facilities/facility', facility: facility %>
		<% end %>
	</div>
