<p>Aaron has been boxing for over 20 years and brings a wealth of experience in the &lsquo;sweet science&rsquo; to Team Impact. In his amateur career, "The Worry"
amassed a record of 130-17, winning a total of 8 All-Ireland titles, 3 European Titles and 1 World Title over the 76kg, 78kg, 80kg and 82kg weight 
categories. He also boxed for Team Ireland in the 2012 Olympics, taking silver in the 78kg division. He turned pro in 2013, and has currently amassed a record of 9-1. He is now 
signed with top UK promotion <%= link_to "Matchroom Boxing", "http://www.matchroomboxing.com/", target: "_blank" %>, splitting his time between Ireland and the UK 
teaching and training.</p>
