<p>Aaron has been training in Muay Thai for over 15 years. He is an active and highly decorated competitor with a current professional 
kickboxing record of 61-4 and has fought in many top professional kickboxing promotions all over the world such as 
<%= link_to "Glory", "https://www.glorykickboxing.com/", target: "_blank" %>, <%= link_to "Thai Fight", "http://www.thaifight.com/", target: "_blank" %> and 
<%= link_to "Max Muay Thai", "https://www.maxmuaythai.com/", target: "_blank" %>. In 2011, Aaron 
decided to venture into Mixed Martial Arts. He is currently signed with top promotion 
<%= link_to "Brave FC", "https://www.bravefights.com/", target: "_blank" %>, holding an undefeated professional record of 3-0.</p>