<p>Carrie&apos;s martial arts journey began when she started training in Shotokan Karate when she was seven years old. At age 20 she received her 
black belt in this art. Around the same time, she began training in Brazilian Jiu-Jitsu under Rich and currently holds a purple belt in BJJ.
Shortly after beginning her BJJ journey, Carrie started training in MMA. Carrie soon began competing in amateur MMA to great success, 
culminating in her taking Gold 2 years in a row in the Women&apos;s 60kg category at the World <%= link_to "IMMAF", "https://www.immaf.org/", target: "_blank" %> 
(International Mixed Martial Arts Federation) Championships in 2010 &amp; 2011. Nowadays, Carrie has since retired from competing, and has devoted herself to 
teaching Women&apos;s MMA and BJJ for self-defence purposes here at Team Impact.</p>