<p>Michael started his martial arts journey with Ciaran under Rich back in 2006. Upon discovering a hidden talent for the art, Michael began 
competing in (at that time, very few) Brazilian Jiu-Jitsu tournaments in the UK and the rest of Europe. Spurred on by his early success and 
by coach Rich, Michael began training and competing in Mixed Martial Arts. Continued success on the both the national and European amateur 
circuit led Michael to turn professional in 2014. He holds a current professional record of 7-1 is currently signed with top European 
promotion <%= link_to "Cage Warriors", "https://cagewarriors.com/", target: "_blank" %>. Michael was awarded his BJJ Brown Belt in 2016. He is still an active competitor 
in the Brazilian Jiu-Jitsu scene and has won multiple medals in both Gi and No-Gi Jiu-Jitsu at a National, European and World level at blue, purple and brown belt.</p>
