<h1>Testimonial Submission</h1>

<p>Hi <%= @testimonial.first_name %>!</p>
<p>Thank you for your kind words. Your testimonial can now be viewed on our page</p>
<p>Kind Regards,</p>
<p>Team Impact</p>
