<p>Ciaran has been training in Brazilian Jiu-Jitsu under Rich since the beginning of Team Impact in 2006. He has enjoyed a decorated 
competitive career spanning several years. Among his numerous achievements in BJJ, he won the Brown Belt <%= link_to "IBJJF", "https://ibjjf.com/", target: "_blank" %>
Europeans at Roosterweight in both Gi and No-Gi in 2013, 2014 and 2015 and the Brown Belt IBJJF World Championships at Roosterweight in Gi in 2014.  After over 10 years
of dedicated training and competitive success at a National and European Level, Ciaran received his BJJ Black Belt in 2017 under Carlson
Gracie Jr. during a visit to Ireland. Ciaran has now retired from competition and has dedicated himself to coaching, and teaches many of the
adult and kids BJJ classes at Team Impact.</p>
