<p>Rich is the founder and owner of Team Impact and currently holds a third degree black belt in Brazilian Jiu-Jitsu under Carlson Gracie Jr. 
He has coached numerous athletes at an amateur and professional level in MMA, BJJ, Muay Thai and Boxing, including many of our current 
instructors and active competitors. With over thirty years spent training and competing in various martial arts all over the world, he 
possesses an unparalleled amount of knowledge and experience that he passionately shares with his students on a daily basis.</p>
