<% provide(:title, "Your Membership Subscriptions") %>
<h1><%= yield(:title) %></h1>
<div class="row">
    <div class="col-md-8">
        <div class="well" style="border: 1em solid #000000; box-shadow: 0em 0em 1em 1.5em #000000;">
            <% if @subscriptions != [] %>
                <% @subscriptions.each do |subscription| %>
                    <%= render 'subscriptions/subscription', member: @member, subscription: subscription %>
                <% end %>
                <%= will_paginate @subscriptions %>
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: @member %>
    </div>
</div>
