<% provide(:title, "Your Membership Subscriptions") %> 
<h1><%= yield(:title) %></h1>
<div class="row">
    <div class="col-md-8">
        <div class="well">
            <% if @subscriptions != [] %>
                <% @subscriptions.each do |subscription| %> 
                    <%= render 'subscriptions/subscription', member: @member, subscription: subscription %>
                <% end %>
                <%= will_paginate @subscriptions %>
            <% end %> 
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
