<div class="row">
    <section> 
        <p>Our MMA Area comes equipped with a large supply of grappling dummies, padded walls and striking pads, in 
	    addition to a competition-sized Octagon MMA Cage.</p>
    </section>
</div>