<% provide(:title, "New Lesson") %>
<% provide(:button_text, "Create Lesson") %>
<section>
	<h1><%= yield(:title) %></h1>
</section>
<div class="row"> 
    <div class="col-md-6 col-md-offset-3"> 
        <%= render 'layouts/lesson_form' %>
    </div> 
</div>
