<% provide(:title, "Edit #{resource.titleize}") %>
<% provide(:button_text, "Save Changes") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<div class="row">
    <div class="col-md-8 admin layouts _edit">
        <div class="well admin layouts _edit">
            <%= render "admin/#{resource.pluralize}/edit_#{resource}_form" %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>
