<% provide(:title, "Edit #{resource.titleize}") %> 
<% provide(:button_text, "Save Changes") %>
<section>
    <h1><%= yield(:title) %></h1> 
</section>
<div class="row"> 
    <div class="col-md-8"> 
        <div class="well" style="background-color: #000000;">
            <%= render "admin/#{resource.pluralize}/edit_#{resource}_form" %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: current_member %>
    </div>
</div>