<%= provide(:title, "Testimonials") %>
<section>
    <h1><%= yield(:title) %></h1>
</section>
<div class="container">
    <div class="row">
        <% @testimonial.each do |testimonial| %>
            <%-# render 'testimonials/testimonial', testimonial: testimonial -%>
        <% end %>
    </div>
</div>
