<footer class="footer"> 
    <small> 
        Possible Twitter/Facebook links? 
    </small> 
    <nav> 
        <ul> 
            <li><%= link_to "Admin Login", '#' %></li> 
        </ul> 
    </nav> 
</footer>