<footer class="footer" style="background-color: #FFFFFF; padding-left: 1em; padding-top: 0.75em;">
    <div class="row">
        <div class="col-md-6">
            <div style="text-align: center; color: #000000;">
		        Copyright 2008 - 2019 &copy; All Rights Reserved.			
	        </div>        
        </div>
        <div class="col-md-6">
	        <div class="col-md-12">
    	       <ul style="list-style-type: none; padding: 0; display: inline;">
                </ul>
	        </div>
        </div>
    </div>
</footer>

