<li> 
    <%= member_avatar_for(member)%> 
    <%= link_to member.first_name + " " + member.last_name, member %> 
    <%- #Member delete links (viewable only by admins) -%>
    <% if current_member.admin? && !member.admin? %> 
        | <%= link_to "Delete", member, method: :delete,class: "btn btn-danger", data: { confirm: "You sure?" } %> 
    <% end %>
</li>