<% provide(:title, "Edit Member") %> 
<% provide(:button_text, "Save Changes") %>
<section>
    <h1>Update Your Details</h1>
</section> 
<div class="row"> 
    <div class="col-md-8">
        <div class="well" style="background-color: #000000;">
            <%= render 'members/edit_member_form', member: @member %>
        </div>
    </div>
    <div class="col-md-4"> 
        <%= render 'layouts/sidebar',  member: @member %>
    </div>
</div>