<% provide(:title, "Welcome to your Account") %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-9">
    
  </div>
  <div class="col-md-3">
    <div>
      <button class="btn btn-info" id="sidebar-container-toggler" style="float: right; margin-right: 1em; background: none; font-family: Orbitron; border: 0.1em solid #FFFFFF;">
        <i class="glyphicon glyphicon-chevron-right"></i>
          Menu
      </button>
    </div>
    <%= render 'layouts/sidebar', member: current_member %>
</div>
