<%= render 'shared/bootstrap_alert_messages', alert_message_hash: flash %>
<%= render 'shared/page_heading_section', page_heading: @member.full_name, page_heading_quotation_id: nil %>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <%= render 'layouts/sidebar', member: @member %>
    </div>
</div>
