<% provide(:title, "Welcome to your Account") %>
<div class="row">
  <div class="col-md-9">
    <h1><%= yield(:title) %></h1>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/sidebar', member: current_member %>
  </div>
</div>
